node_modules/
game/node_modules/
game/client/dist/
game/server/dist/
game/client/public/assets/models/player.glb
game/client/public/assets/models/*.fbx
game/client/public/assets/models/*.FBX
game/client/public/assets/models/*.max
game/client/public/assets/models/*.MAX
game/client/public/assets/models/*_albedo.*
game/client/public/assets/models/*_basecolor.*
game/client/public/assets/models/*_diffuse.*
game/client/public/assets/models/*_normal.*
game/client/public/assets/models/*_roughness.*
game/client/public/assets/models/*_metalness.*
game/client/public/assets/models/*_metal.*
game/client/public/assets/models/*_spec.*
game/client/public/assets/models/*_ao.*
game/client/public/assets/models/*_occlusion.*
game/client/public/assets/models/*.bmp
game/client/public/assets/models/*.BMP
*.log
.DS_Store
